{% for role in roles %}
    {% if role == 'ROLE_USER' %}
        <span class="label label-gradient label-default">{{ 'admin.form.filters.user.roles.role_user' | trans({}, 'form') }}</span>
    {% elseif role == 'ROLE_ADMIN' %}
        <span class="label label-gradient label-info">{{ 'admin.form.filters.user.roles.role_admin' | trans({}, 'form') }}</span>
    {% endif %}
{% endfor %}