{% if user.softDelete %}
    <div class="label label-gradient label-danger"><i class="fa fa-flash"></i> {{ 'user.status.deleted' | trans({}, 'user') }}</div>
{% elseif not user.enabled %}
    <span class="label label-gradient label-warning"><i class="fa fa-warning"></i> {{ 'user.status.locked' | trans({}, 'user') }}</span>
{% else %}
    <span class="label label-gradient label-info"><i class="fa fa-check"></i> {{ 'user.status.validated' | trans({}, 'user') }}</span>
{% endif %}