{% extends '@Admin/layout/layout_base.html.twig' %}

{% block pageTitle %}{{ 'admin.title.analytic.list' | trans({}, 'title') }}{% endblock %}

{% block breadcrump %}
    <li><a href="{{ path('admin_analytics') }}" disabled="disabled">{{ 'admin.breadcrumb.analytic.list' | trans({}, 'breadcrumb') }}</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-12 tabs-area">
        <ul id="tabs-list" class="nav nav-tabs nav-tabs-v3" role="tablist">
            <li role="presentation" class="active">
                <a href="#tabs-area1" id="tabs-1" role="tab" data-toggle="tab" aria-expanded="true">Visites de la semaine</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-area2" role="tab" id="tabs-2" data-toggle="tab" aria-expanded="false">Visites de l'année</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-area3" id="tabs-3" role="tab" data-toggle="tab" aria-expanded="false">Vues de la semaine</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-area4" role="tab" id="tabs-4" data-toggle="tab" aria-expanded="false">Vues de l'année</a>
            </li>
        </ul>
        <div id="tabs" class="tab-content tab-content-v3">
            <div role="tabpanel" class="tab-pane fade text-center active in" id="tabs-area1" aria-labelledby="tabs-area1">
                <h2>{{ 'admin.analytics.title.by_user' | trans({}, 'analytics') }}</h2>
                <div id="sevenDaysPerUser" class="myGCharts"></div>

                <h2>{{ 'admin.analytics.title.by_country' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="sevenDaysPerCountry" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneWeekPerCountry" class="myGCharts"></div>
                    </div>
                </div>

                <h2>{{ 'admin.analytics.title.by_city' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="sevenDaysPerCity" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneWeekPerCity" class="myGCharts"></div>
                    </div>
                </div>

                <h2>{{ 'admin.analytics.title.by_language' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="sevenDaysPerLanguage" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneWeekPerLanguage" class="myGCharts"></div>
                    </div>
                </div>

                <h2>{{ 'admin.analytics.title.by_browser' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="sevenDaysPerBrowser" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneWeekPerBrowser" class="myGCharts"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade text-center" id="tabs-area2" aria-labelledby="tabs-area2">
                <h2>{{ 'admin.analytics.title.by_user' | trans({}, 'analytics') }}</h2>
                <div id="oneYearPerUser" class="myGCharts"></div>

                <h2>{{ 'admin.analytics.title.by_country' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="oneYearPerCountry" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneYearPerCountry" class="myGCharts"></div>
                    </div>
                </div>

                <h2>{{ 'admin.analytics.title.by_city' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="oneYearPerCity" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneYearPerCity" class="myGCharts"></div>
                    </div>
                </div>

                <h2>{{ 'admin.analytics.title.by_language' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="oneYearPerLanguage" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneYearPerLanguage" class="myGCharts"></div>
                    </div>
                </div>

                <h2>{{ 'admin.analytics.title.by_browser' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="oneYearPerBrowser" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneYearPerBrowser" class="myGCharts"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade text-center" id="tabs-area3" aria-labelledby="tabs-area3">
                <h2>{{ 'admin.analytics.title.total' | trans({}, 'analytics') }}</h2>
                <div id="sevenDaysPages" class="myGCharts"></div>

                <h2>{{ 'admin.analytics.title.by_page' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="sevenDaysPerPage" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneWeekPerPage" class="myGCharts"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade text-center" id="tabs-area4" aria-labelledby="tabs-area4">
                <h2>{{ 'admin.analytics.title.total' | trans({}, 'analytics') }}</h2>
                <div id="oneYearPages" class="myGCharts"></div>

                <h2>{{ 'admin.analytics.title.by_page' | trans({}, 'analytics') }}</h2>
                <div class="row">
                    <div class="col-md-7">
                        <div id="oneYearPerPage" class="myGCharts"></div>
                    </div>
                    <div class="col-md-5">
                        <div id="pieOneYearPerPage" class="myGCharts"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/gkratzanalytic/js/myChart.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {# VISITS OF THE WEEK #}
    <script type="text/javascript">{{ chart(sevenDaysPerUser) }}</script>
    <script type="text/javascript">{{ chart(sevenDaysPerCountry) }}</script>
    <script type="text/javascript">{{ chart(pieOneWeekPerCountry) }}</script>
    <script type="text/javascript">{{ chart(sevenDaysPerCity) }}</script>
    <script type="text/javascript">{{ chart(pieOneWeekPerCity) }}</script>
    <script type="text/javascript">{{ chart(sevenDaysPerLanguage) }}</script>
    <script type="text/javascript">{{ chart(pieOneWeekPerLanguage) }}</script>
    <script type="text/javascript">{{ chart(sevenDaysPerBrowser) }}</script>
    <script type="text/javascript">{{ chart(pieOneWeekPerBrowser) }}</script>

    {# VISITS OF THE YEAR #}
    <script type="text/javascript">{{ chart(oneYearPerUser) }}</script>
    <script type="text/javascript">{{ chart(oneYearPerCountry) }}</script>
    <script type="text/javascript">{{ chart(pieOneYearPerCountry) }}</script>
    <script type="text/javascript">{{ chart(oneYearPerCity) }}</script>
    <script type="text/javascript">{{ chart(pieOneYearPerCity) }}</script>
    <script type="text/javascript">{{ chart(oneYearPerLanguage) }}</script>
    <script type="text/javascript">{{ chart(pieOneYearPerLanguage) }}</script>
    <script type="text/javascript">{{ chart(oneYearPerBrowser) }}</script>
    <script type="text/javascript">{{ chart(pieOneYearPerBrowser) }}</script>

    {# VIEWS OF THE WEEK #}
    <script type="text/javascript">{{ chart(sevenDaysPages) }}</script>
    <script type="text/javascript">{{ chart(sevenDaysPerPage) }}</script>
    <script type="text/javascript">{{ chart(pieOneWeekPerPage) }}</script>

    {# VIEWS OF THE YEAR #}
    <script type="text/javascript">{{ chart(oneYearPages) }}</script>
    <script type="text/javascript">{{ chart(oneYearPerPage) }}</script>
    <script type="text/javascript">{{ chart(pieOneYearPerPage) }}</script>
{% endblock javascripts %}