{#
    This template is used to render any error different from 403, 404 and 500.

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See http://symfony.com/doc/current/cookbook/controller/error_pages.html
#}

{% extends "@Admin/layout/layout_base.html.twig" %}

{% block pageTitle %}{{ 'error.500.page_title' | trans({}, 'error') }}{% endblock %}

{% block title %}
    500
{% endblock %}

{% block content %}
    <div class="panel error-page">
        <div class="panel-body">
            <h1 class="animated fadeInUp quote">{{ 'error.500.title' | trans({}, 'error') }}</h1>

            <h2 class="lead">
                <i class="fa fa-remove red"></i>{{ 'error.500.content' | trans({}, 'error') }}
            </h2>
            <p>
                Revenez à la
                <a href="{{ path('app_home') }}" class="btn btn-lg btn-gradient btn-primary">
                    <span><i class="fa fa-home"></i> page d'accueil</span>
                </a>
            </p>
        </div>
        <img src="{{ asset('img/error/500.png') }}" alt="">
        <div class="clearfix"></div>
    </div>
{% endblock %}

