{% extends 'layout_base.html.twig' %}

{% block layout_content %}

    {% include '@User/includes/header.html.twig' %}

    </head>
    <body class="dashboard form-signin-wrapper">

    {% block content %}{% endblock content %}

    {% include '@User/includes/footer.html.twig' %}

    {% include '@Admin/includes/flashbag.html.twig' %}

    {% block javascripts %}{% endblock javascripts %}

{% endblock layout_content %}