<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ maintenance.name }} | Maintenance</title>

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/gkratzmaintenance/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- custom css -->
    <link href="{{ asset('bundles/gkratzmaintenance/css/stylemtn.css') }}" rel="stylesheet" type="text/css" media="screen">
    <!-- font awesome for icons -->
    <link href="{{ asset('bundles/gkratzmaintenance/css/font-awesome.min.css') }}" rel="stylesheet">
    {#<link rel="shortcut icon" href="http://favicon.com">#}
    {#<!-- animated css  -->#}
    {#<link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css" media="screen">#}
    <!--web fonts-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="maintenance-page">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="soon-logo">{{ craue_setting('site_fullname') | upper }}</h1>
            <div class="soon-info-text">
                <h2>{{ 'app.maintenance.title' | trans({}, 'maintenance') }}</h2>
                {# <p class="lead">Nous travaillons sur ce site et revenons aussi vite que possible</p> #}
                <p class="lead">{{ 'app.maintenance.call_us' | trans({}, 'maintenance') }}: <a href="tel:{{ craue_setting('phone') }}">{{ craue_setting('phone') }}</a></p>
            </div>
        </div>
    </div><!--intro text row-->
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="defaultCountdown"></div><!--countdown-->
        </div>
    </div><!--countdown row-->
</div><!--.container-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center animated fadeInLeft">

            <form action="mailto:{{ craue_setting('email') }}" class="form-inline soon-form" role="form" id="abonne-form">
                <h4>{{ 'app.maintenance.kepp_in_touch' | trans({}, 'maintenance') }}</h4>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">{{ 'app.maintenance.form.email' | trans({}, 'maintenance') }}</label>
                    <input type="email" class="form-control" id="newsletter" placeholder="john.doe@mail.com" name="join">
                </div>
                <!-- <a type="submit" href="index.html" class="btn-white-border btn btn-lg"></a> -->
                <button type="submit" style="color: #000;" class="btn-theme-color btn btn-lg">{{ 'app.maintenance.form.button.submit' | trans({}, 'maintenance') }}</button>
            </form>
            <div id="abondiv"></div>
        </div>
    </div>
</div>
<div id="maDate" class="hidden">{{ maintenance.date|date('M d, Y H:i') }}</div>
<footer id="footer">
    <ul class="list-inline soon-social">
        <li><a href="http://facebook.com/{{ craue_setting('facebook_id') }}"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/{{ craue_setting('twitter_id') }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://vsweb.be"><i class="fa fa-plus"></i></a></li>
    </ul>

    <span>&copy;{{ "now"|date('Y') }} | {{ craue_setting('site_nickname') }}</span>
</footer><!--footer-->
<!--scripts and plugins -->
<!--must need plugin jquery-->
<script src="{{ asset('bundles/gkratzmaintenance/js/jquery.min.js') }}"></script>
<!--bootstrap js plugin-->
<script src="{{ asset('bundles/gkratzmaintenance/js/bootstrap.min.js') }}" type="text/javascript"></script>
<!--easing plugin for smooth scroll-->
<script src="{{ asset('bundles/gkratzmaintenance/js/jquery.easing.1.3.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gkratzmaintenance/js/jquery.backstretch.min.js') }}" type="text/javascript"></script>
<!--customizable plugin edit according to your needs-->
<script src="{{ asset('bundles/gkratzmaintenance/js/custommtn.js') }}" type="text/javascript"></script>
<!--countdown coming soon-->
<script src="{{ asset('bundles/gkratzmaintenance/js/jquery.countdown.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        var maDate=$('#maDate').text();
        var austDay = new Date(maDate);
        austDay = new Date(austDay);
        console.log(austDay);
        $('#defaultCountdown').countdown({until: austDay});
        $('#year').text(austDay.getFullYear());
    });
</script>

</body>
</html>