<!DOCTYPE html>
<!--
 __    __    ___            __    __    __   ____
 \ \  / /   / __|           \ \  /  \  / /  |  __\   __
  \ \/ / _  \__ \  _         \ \/ /\ \/ /   |  __|  |  _\
   \__/ (_) |___/ (_)         \__/  \__/    |  __/  |___/
                https://vsweb.be
-->
<html lang="fr">
<head>
    <!-- required -->
    <meta charset="UTF-8"/>
    <title>{{ notificationPage(app.user) }}{{ craue_setting('site_nickname') | upper }} | {% block pageTitle %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" />
    <meta name="author" content="Jul6art A.K.A. Geoffrey Kratz">
    <meta name="keyword" content="moto, vois, ma, moto, mon, garage, mes, machines, superbike naked, nude, supersport, touring, trial, trail, motox, motocross">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ craue_setting('site_url') | upper }} - {% block description %}{% endblock %}">

    {% block layout_content %}
    {% endblock layout_content %}

    </body>
</html>