{% javascripts
    'scripts/jquery.min.js'
    'scripts/jquery.ui.min.js'
    'scripts/bootstrap.min.js'
    'scripts/plugins/jquery-validate/dist/jquery.validate.min.js'
    'scripts/plugins/bootoast.js'
    'scripts/plugins/TweenMax.min.js'
    'scripts/plugins/fancybox/source/jquery.fancybox.js'
    'scripts/plugins/autosize-master/jquery.autosize.min.js'
    'scripts/plugins/select2.full.min.js'
    'scripts/plugins/moment.min.js'
    'scripts/plugins/bootstrap-material-datetimepicker.js'
    'scripts/plugins/jquery.ezdz.js'
    'scripts/admin/custom.js'
    'scripts/admin/validation.js'
    'scripts/user/login-form-animation.js'
    output='js/login.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% include '@Admin/includes/javascript-dynamic.html.twig' %}