<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- start: Css -->
<link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/font-awesome.min.css') }}"/>
{% stylesheets
    'stylesheets/bootstrap.min.css'
    'stylesheets/plugins/bootoast.css'
    'stylesheets/plugins/simple-line-icons.css'
    'stylesheets/plugins/animate.min.css'
    'stylesheets/plugins/flags.min.css'
    'stylesheets/admin/style.css'
    'stylesheets/admin/custom.css'
    output='css/login.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
{% endstylesheets %}

    {% block stylesheets %}
    {% endblock stylesheets %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Google Recaptcha -->
<script src="https://www.google.com/recaptcha/api.js"></script>