{% extends '@User/layout/layout_base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageTitle %}{{ 'user.title.register' | trans({}, 'title') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-layout-message">
            <p>
                <a href="{{ path('homepage') }}" class="navbar-brand" style="color: #FFFFFF; float: none">
                    <b>{{ craue_setting('site_nickname') | upper }}</b>
                </a>
            </p>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock %}
