{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
    {% include '@User/email/layout.html.twig' with {
        html_content: 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}),
        links: [
            {
                url: confirmationUrl,
                text: 'registration.email.subject'|trans({'%username%': user.username})
            }
        ]
    } %}
{% endblock %}

