{% extends '@User/layout/layout_base.html.twig' %}

{% block pageTitle %}{{ 'user.title.register' | trans({}, 'title') }}{% endblock %}

{% block content %}
    <div class="container">
        {% include '@FOSUser/Registration/register_content.html.twig' %}
    </div>
{% endblock %}