{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin login-animated fos_user_registration_register'}}) }}
    <div class="panel periodic-login">
        <div class="panel-body text-center">

            {% include '@User/includes/animated_avatar.html.twig' %}

            <i class="icons icon-arrow-down"></i>

            <div class="form-group form-animate-text cinputGroup inputGroup1" style="margin-top:40px !important;">
                {{ form_widget(form.username, {id: 'email'}) }}
                <span class="bar"></span>
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="form-group form-animate-text cinputGroup inputGroup2" style="margin-top:40px !important;">
                {{ form_widget(form.plainPassword.first, {id: 'password'}) }}
                <span class="bar"></span>
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                {{ form_widget(form.plainPassword.second) }}
                <span class="bar"></span>
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                {{ form_widget(form.email, {attr: {class: 'form-text'}}) }}
                <span class="bar"></span>
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group" style="margin-top:40px !important;">
                {{ form_widget(form.captcha) }}
                {{ form_errors(form.captcha) }}
            </div>

            <div class="row">
                <div class="alert alert-warning alert-border alert-dismissible fade in relative" role="alert">
                    <h3>{{ 'form.user.registration.gdpr.title' | trans({}, 'form') }}
                        <a type="button" class="close pull-right" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></a>
                    </h3>
                    <br>
                    {{ 'form.user.registration.gdpr.text' | trans({}, 'form') | raw }}
                </div>
            </div>

            <input type="submit" class="btn col-md-12" value="{{ 'registration.submit' | trans }}"/>
        </div>
        <div class="text-center" style="padding:5px;">
            <a href="{{ path('fos_user_security_login') }}">{{ 'form.link.label.already_registered' | trans({}, 'form') }}</a>
        </div>
    </div>
{{ form_end(form) }}

