.ezdz-dropzone {
    width: calc(100% - 34px) !important;
    margin: 17px 17px 30px;
    height: 340px !important;
}

.ezdz-dropzone > div {
    height: 340px !important;
    line-height: 340px !important;
}

.mce-edit-area {
    height: 258px !important;
    width: 100% !important;
}

.breadcrump {
    margin: 10px 0;
    padding: 0;
}

.breadcrump li {
    display: inline-block;
}

.breadcrump li::before {
    content: '•';
    display: inline-block;
    vertical-align: middle;
}

.breadcrump li:nth-child(1)::before {
    display: none;
}

.breadcrump li a {
    padding: 10px;
    line-height: 38px;
}

.ripple.controle i {
    width: 36px;
    text-align: center;
}

.actions {
    position: absolute;
    z-index: 1000;
    right: 0;
}

.actions a {
    margin: 5px;
}

.row-add {
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
}

label[for="cmb_partievisiteurbundle_element_moto"] {
    position: relative!important;
}

.select2-container {
    margin-top: 10px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-right:10px;
}
.rating > a{
    font-size: 32px;
    color: #777777;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > a:hover:before,
.rating > a:hover ~ a:before {
    content: "\2605";
    color: #f0c010;
    position: absolute;
}

.owner {
    padding: 15px 18px;
}

.modal.fade.in .modal-dialog {
    z-index: 1050;
}

a.disabled {
    color: grey;
    cursor: default!important;
}

ul#tabs-demo6 li {
    width: 25%;
}

.tab-content-v5 .panel {
    padding: 25px 15px 35px;
}

.tab-content-v5 .alert {
    margin: 25px 15px 35px;
}

.tab-content-v5 .panel .btn {
    margin: 5px;
    padding: 10px;
}

#tabs-demo6-area1 > .row,
#tabs-demo6-area2 > .row,
#tabs-demo6-area3 > .row,
#tabs-demo6-area4 > .row {
    margin-left: 0;
    margin-right: 0;
}

form:not(.login-animated) .panel label i {
    padding-left: 20px;
}

form .panel .panel-body {
    padding-top: 35px;
}

.btn-huge {
    font-size: 20px;
    padding: 20px;
}

a[disabled],
a:hover[disabled] {
    color: grey!important;
    cursor: default!important;
}

.captcha-error iframe {
    border: 1px solid #FF968B;
}

/*user impersonation*/
.fixed-impersonate {
    border: 1px solid ;
    border-radius: 4px!important;
    background-color: #0c66ae;
    width: 285px;
    z-index: 100000;
    position: fixed;
    right: -240px;
    bottom: 20px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.fixed-impersonate:hover {
    right: -4px;
}

.impersonate {
    font-size: 0;
    position: relative;
}

.impersonate > * {
    display: inline-block;
    height : 100%;
    font-size: 1rem;
}

.impersonate div:first-child {
    width: 45px;
}

.impersonate div:last-child {
    width: calc(100% - 45px);
    background-color: #FFFFFF;
    border-bottom-right-radius: 4px!important;
    border-top-right-radius: 4px!important;
}

.impersonate i {
    color: #FFFFFF;
    font-size: 21px!important;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
}

.impersonate p {
    padding: 12px;
    font-size: 13px;
    margin: 0;
}
/*impersonate end*/

.form-gdpr {
    margin-top: 25px;
}

/*error pages*/
.error-page .red {
    color: red;
}

.error-page {
    background-color: #000000;
    color: #FFFFFF;
}

.error-page img {
    width: 100%;
    float: right;
}

.error-page .panel-body {
    padding: 35px 35px;
}

.error-page h1 {
    font-size: 45px;
    margin-left: 25px;
}

.error-page h2 {
    margin: 35px 25px 15px;
}

.error-page p {
    text-align: center;
    font-size: 18px;
}
/*end error pages*/

/*porte de garage*/
#container {
    width: 100%;
    height: 477px;
    background-image: url('../images/bike-light.jpg');
    background-size: cover;
    background-position: left bottom;
    -webkit-perspective: 1000px;
    z-index: 100000!important;
}

.porte {
    width: 100%;
    height: 477px;
    /*background: grey;*/
    background-image: url('../images/garage.jpg');
    background-size: cover;
    background-position: left calc(100% + 49px);
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: left top;
    z-index: 200000!important;
}

.porte.open {
    -webkit-transition: -webkit-transform 2s ease-out;
    -webkit-transform: rotateX(95deg);
    z-index: 1000;

}

.text-background {
    background-color: #FFFFFF;
    opacity: 0.7;
    margin: 40px 50px;
    width: calc(100% - 100px);
    padding-top: 20px;
    padding-bottom: 30px;
}

.porte h1 {
    margin: 0 20px 35px;
    color: #000000;
    font-weight: 900;
    font-size: 40px;
}

.porte h2 {
    font-weight: 100;
    color: #000;
    text-transform: capitalize;
    margin: 0 20px 0;
}

@media only screen and (max-width: 787px) {
    .text-background {
        margin: 10px;
        width: calc(100% - 20px);
    }

    .porte h1 {
        font-size: 25px;
        margin: 0 10px 35px!important;
    }

    .porte h2 {
        font-size: 20px;
        margin: 0 10px!important;
    }

    .porte a {
        padding: 10px!important;
        font-size: 15px!important;
        width: auto!important;
    }
}

#garageDoorSound {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.porte a {
    text-align: center;
    width: 255px;
    vert-align: middle;
    padding: 14px;
}

.porte a.btn-info {
    padding: 20px 30px;
    font-size: 20px;
}
/*end porte de garage*/

/*login animé*/
/* line 13, style.scss */
form.login-animated {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
}
/* line 18, style.scss */
form.login-animated .svgContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3A5E77;
    overflow: hidden;
    pointer-events: none;
}
/* line 22, style.scss */
form.login-animated .svgContainer div {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}
/* line 26, style.scss */
form.login-animated .svgContainer .mySVG {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* line 31, style.scss */
form.login-animated .inputGroup {
    margin: 0 0 2em;
    padding: 0;
    position: relative;
}
/* line 33, style.scss */
form.login-animated .inputGroup:last-of-type {
    margin-bottom: 0;
}
/* line 37, style.scss */
form.login-animated label {
    margin: 0 0 12px;
    display: block;
    font-size: 1.25em;
    color: #217093;
    font-weight: 700;
    font-family: inherit;
}
/* line 57, style.scss */
form.login-animated button {
    display: block;
    margin: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #FFF;
    font-weight: 600;
    font-family: inherit;
}
/* line 70, style.scss */
form.login-animated .inputGroup1 .helper {
    position: absolute;
    z-index: 1;
    font-family: inherit;
}
/* line 74, style.scss */
form.login-animated .inputGroup1 .helper1 {
    top: 0;
    left: 0;
    transform: translate(1.4em, 2.6em) scale(1);
    transform-origin: 0 0;
    color: #217093;
    font-size: 1.25em;
    font-weight: 400;
    opacity: .65;
    pointer-events: none;
    transition: transform .2s ease-out, opacity .2s linear;
}
/* line 82, style.scss */
form.login-animated .inputGroup1.focusWithText .helper {
    /*input[type='email']:focus + .helper {*/
    transform: translate(1.4em, 2em) scale(0.65);
    opacity: 1;
}

form.login-animated .form-group.form-animate-text {
    margin-bottom: 25px;
}
/*end login animé*/

.form-text.notempty ~ label {
    top: -10px;
    font-size: 14px;
    color: #999C9E;
}

.row-add h1 {
    margin: 0;
    color: #000000;
}

.row-add h1 small {
    color: grey;
}

@media only screen and (max-width: 787px) {
    .row-add h1 {
        font-size: 0.7 em;
    }
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

.homebox .col-md-4,
.homebox .col-md-8,
.homebox .col-sm-6 {
    padding: 15px;
}

img {
    max-width: 100%;
}

.homebox h1 {
    color: #4D4D4D;
    font-weight: 900;
    font-size: 30px;
}

.homebox p {
    line-height: 2.5;
    margin: 25px 0 35px;
    font-size: 16px;
    color: #000000;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.homebox a.btn-info {
    padding: 20px 30px;
    font-size: 20px;
}

@media only screen and (max-width: 787px) {
    .homebox h1 {
        font-size: 20px;
    }
}

.homebox .col-sm-6 {
    height: 110px;
    overflow-y: hidden;
}

.subbuttons {
    margin-top: 10px;
}

.roulette-wrapper {
    overflow-x: hidden;
}

.roulette-wrapper .roulette {
    position: relative;
    width: 3000%;
    font-size: 0;
}

.roulette-wrapper .roulette > .video-v1 {
    width: 3.33%;
    margin: 0;
    display: inline-block;
    font-size: 1rem;
}

.roulette-wrapper .roulette .panel {
    position: relative;
}

.roulette-wrapper .roulette .panel-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.roulette-wrapper .roulette .rating {
    text-align: center;
}

.roulette-wrapper .roulette .rating a {
    font-size: 6vw;
}

/*wysiwyg*/
.mce-container iframe {
    height: 100%!important;
}

/*videos*/
.form-video iframe {
    margin-bottom: 50px;
    margin-top: -20px;
}

input.hidden.video-field ~ label {
    display: none;
    margin-bottom: 0;
    transition: all .3s linear;
}

input.video-field:not(.hidden) ~ span.bar {
    margin-bottom: 45px;
}

.form-group.form-animate-text.form-add-video {
    position: relative;
    margin-bottom: 0;
}

/*BLOCKUI*/
.blockUI {
    display: none;
    border: none!important;
}

.blockUI h1 ,
.blockUI h1::before ,
.blockUI h1::after {
    display: block;
    font-size: 0;
    background-color: #4196EC;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%!important;
    animation-iteration-count: infinite;
    animation-duration: .9s;
    animation-play-state: running;
    animation-direction: normal;
}

.blockUI h1::before,
.blockUI h1::after {
    content: '';
}

.blockUI h1 {
    animation-delay: .15s;
    transform: translate(-50%, -50%);
    animation-name: blockUiAnimation;
}

.blockUI h1::before {
    transform: translate(calc(-50% + 65px), -50%);
    animation-name: blockUiAnimation;
}

.blockUI h1::after {
    transform: translate(calc(-50% - 65px), -50%);
    animation-delay: .3s;
    animation-name: blockUiAnimation;
}

@-webkit-keyframes blockUiAnimation {
    0% {
        width: 36px;
        height: 36px;
    }
    50% {
        width: 60px;
        height: 60px;
    }
    100% {
        width: 36px;
        height: 36px;
    }
}

@keyframes blockUiAnimation {
    0% {
        width: 36px;
        height: 36px;
    }
    50% {
        width: 60px;
        height: 60px;
    }
    100% {
        width: 36px;
        height: 36px;
    }
}

.breadcrump {
    margin-bottom: 40px;
}

.form-animate-text label {
    white-space: nowrap!important;
}

/**
PICKERS
 */
.dtp > .dtp-content {
    width: 350px!important;
    max-width: 350px!important;
}

.dtp-date i {
    color: #FFFFFF!important;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #2A5DD0!important;
}

.dtp div.dtp-date,
.dtp div.dtp-time,
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #4196EC!important;
}

line {
    stroke: #4196EC;
}

.dtp-picker-datetime {
    width: 86%;
    margin-left: 7%;
}

/**
FLAGS
 */
.flag {
    transform: scale(0.5);
    margin: 0 -12px -25px -32px;
}

/**
fix yellow input background
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

/**
UTILS
 */
.float-right {
    float: right;
}

.clear {
    clear: both;
}

.pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

/**
LOGIN
 */
.login-layout-message {
    width: 90vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 18px;
}

/**
CAPTCHA
 */
.form-animate-error .g-recaptcha iframe {
    border: 2px solid #FF968B;
}

/**
TABLES
 */
table .btn-group.right-option-v1 {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.panel-body .table-responsive {
    margin: 10px 0 20px;
}

table .input-group {
    display: table!important;
    width: 100%!important;
}

table .select2-container {
    display: table!important;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0!important;
}

table .form-group.form-animate-text {
    margin-bottom: 0;
}

table .col-md-6 {
    width: 100%;
    margin: 5px 0 8px;
}

table .col-md-6:last-child {
    margin-bottom: 0;
}