/*icone*/
.fa-universal-access {
    font-size: 24px;
    height: 24px;
    width: 24px;
}

/*sidebar*/
li.programajaxtranslate span.icon, li.programajaxtranslate strong {
    color: #666;
}

li.programajaxtranslate:hover span.icon, li.programajaxtranslate:hover strong, li.programajaxtranslate.selected span.icon, li.programajaxtranslate.selected strong {
    color: #fff;
}

/*form*/
.trans-form input {
    padding: 6px 12px;
    width: 90%;
    max-width: 100%;
    background-color: #E0E0E0;
    border: 1px solid #aaa;
    color: #333;
}

.trans-form input:focus {
    background-color: #fff;
    border: 1px solid aliceblue;
}

@media only screen and (max-width: 991px){
    .trans-form input {
        width: 100px;
    }
}

.trans-form select {
    padding: 6px 12px;
    width: 100%;
    max-width: 100%;
    background-color: #E0E0E0;
    border: 1px solid #aaa;
    color: #333;
    text-align: center;
}

.trans-form option {
    padding: 6px 12px;
    background-color: #E0E0E0;
    color: #333;
}

.trans-form button[type="submit"] {
    float: right;
    border: 1px solid #aaa;
    color: #fff;
    background-color: #666;
    padding: 8px 16px;
    transition: all .2s ease-in;
}

.trans-form button[type="submit"]:hover {
    background-color: #444;
    box-shadow: 1px 1px 4px  #999 inset;
}

/*errors*/
.trans-error {
    color: #fff;
    background-color: #B0413E;
    padding: 6px 12px;
    display: none;
}

/*errors*/
.trans-success {
    color: #fff;
    background-color: darkgreen;
    padding: 6px 12px;
    display: none;
}