{% extends '@Admin/layout/layout_form.html.twig' %}

{% block pageTitle %}{{ 'admin.title.maintenance.edit' | trans({}, 'title') }}{% endblock %}

{% block breadcrump %}
    <li><a href="{{ path('admin_maintenance') }}" disabled="disabled">{{ 'admin.breadcrumb.maintenance.edit' | trans({}, 'breadcrumb') }}</a></li>
{% endblock %}

{% block form_header %}
    <h3>
        <a href="{{ path('admin_maintenance_switch', {state: (maintenance.maintenance ? 0 : 1)}) }}">
            <div class="mini-onoffswitch pull-right onoffswitch-primary" style="margin-top:10px;">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" {{ maintenance.maintenance ? ' checked=""' : '' }}>
                <label class="onoffswitch-label maintenance-switch" for="myonoffswitch"></label>
            </div>
        </a>
        {{ 'form.maintenance.title' | trans({}, 'form') }}
    </h3>
{% endblock %}

{% block form_content %}
    <div class="row">
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{ 'admin.maintenance.ip.value' | trans({}, 'maintenance') }}: </h4>
            <div>
                {% for ip in maintenance.exceptionIps %}
                    <span class="label label-gradient label-info">{{ ip }}</span>
                {% endfor %}
            </div>
            <br>
        </div>
    </div>
{% endblock %}

{% block form_actions %}
    <a href="{{ path('admin_maintenance') }}" class="btn-danger btn-gradient btn"><i class="fa fa-close"></i> {{ 'form.buttons.cancel' | trans({}, 'form') }}</a>
{% endblock %}

{% block form_actions_right %}
    {% if is_granted(constant('AdminBundle\\Voter\\MaintenanceVoter::ADD_IP'), maintenance) %}
        <a href="{{ path('admin_maintenance_ip') }}" class="btn btn-default btn-gradient">
            <i class="fa fa-play-circle"></i> {{ 'admin.maintenance.ip.button.add' | trans({}, 'maintenance') }}
        </a>
    {% endif %}
    {% if is_granted(constant('AdminBundle\\Voter\\MaintenanceVoter::REMOVE_IP'), maintenance) %}
        <a href="{{ path('admin_maintenance_ip_remove') }}" class="btn btn-default btn-gradient">
            <i class="fa fa-stop-circle"></i> {{ 'admin.maintenance.ip.button.remove' | trans({}, 'maintenance') }}
        </a>
    {% endif %}
    {% if is_granted(constant('AdminBundle\\Voter\\MaintenanceVoter::CLEAR_CACHE'), maintenance) %}
        <a href="{{ path('admin_maintenance_cache') }}" class="btn btn-default btn-gradient">
            <i class="fa fa-refresh"></i> {{ 'admin.maintenance.cache.button.clear' | trans({}, 'maintenance') }}
        </a>
    {% endif %}
{% endblock %}

