{% trans_default_domain 'FOSUserBundle' %}

<form class="form-signin login-animated" action="{{ path("fos_user_security_check") }}" method="post">
    <div class="panel periodic-login">
        <div class="panel-body text-center">

            {% include '@User/includes/animated_avatar.html.twig' %}

            <i class="icons icon-arrow-down"></i>

            <div class="form-group form-animate-text cinputGroup inputGroup1{% if error %} form-animate-error{% endif %}" style="margin-top:40px !important;">
                <input {% if error %}data-error="true" {% endif %}type="text" id="email" name="_username" required class="form-text notempty"/>
                <span class="bar"></span>
                <label for="email"><i class="icons icon-user"></i> {{ 'security.login.username'|trans }}</label>
            </div>

            <div class="form-group form-animate-text cinputGroup inputGroup2{% if error %} form-animate-error{% endif %}" style="margin-top:40px !important;">
                <input {% if error %}data-error="true" {% endif %}type="password" id="password" name="_password" required class="form-text notempty"/>
                <span class="bar"></span>
                <label for="password"><i class="icons icon-lock-open"></i> {{ 'security.login.password'|trans }}</label>
                {% if error %}
                    <em>{{ error.messageKey|trans(error.messageData, 'security') }}</em>
                {% endif %}
            </div>

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label class="pull-left">
                <input type="checkbox" id="remember_me" class="icheck pull-left" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans }}
            </label>

            <input type="submit" class="btn col-md-12" value="{{ 'security.login.submit'|trans }}"/>
        </div>
        <div class="text-center" style="padding:5px;">
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'form.link.label.forgot_password' | trans({}, 'form') }} </a>
            <a href="{{ path('fos_user_registration_register') }}">| {{ 'form.link.label.register' | trans({}, 'form') }}</a>
        </div>
    </div>
</form>