{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-signin login-animated fos_user_resetting_request">
    <div class="panel periodic-login">
        <div class="panel-body text-center">

            {% include '@User/includes/animated_avatar.html.twig' %}

            <i class="icons icon-arrow-down"></i>

            <div class="form-group form-animate-text cinputGroup inputGroup1" style="margin-top:40px !important;">
                <input type="text" id="email" name="username" required="required" class="form-text" />
                <span class="bar"></span>
                <label for="email">{{ 'resetting.request.username'|trans }}</label>
            </div>

            <div class="form-group form-animate-text cinputGroup inputGroup2">
                <input type="hidden" id="password" />
            </div>

            <input type="submit" class="btn col-md-12" value="{{ 'resetting.request.submit' | trans }}"/>
        </div>
        <div class="text-center" style="padding:5px;">
            <a href="{{ path('fos_user_security_login') }}">{{ 'form.link.label.login' | trans({}, 'form') }}</a>
            <a href="{{ path('fos_user_registration_register') }}">| {{ 'form.link.label.register' | trans({}, 'form') }}</a>
        </div>
    </div>
</form>
