{% extends '@User/layout/layout_base.html.twig' %}

{% block pageTitle %}{{ 'user.title.forgot_password' | trans({}, 'title') }}{% endblock %}

{% block content %}
    <div class="container">
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </div>
{% endblock %}
