{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-signin login-animated fos_user_resetting_reset' } }) }}
    <div class="panel periodic-login">
        <div class="panel-body text-center">

            {% include '@User/includes/animated_avatar.html.twig' %}

            <i class="icons icon-arrow-down"></i>

            <div class="form-group form-animate-text cinputGroup inputGroup1" style="margin-top:40px !important;">
                {{ form_widget(form.plainPassword.first, {id: 'password'}) }}
                <span class="bar"></span>
                {{ form_label(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                {{ form_widget(form.plainPassword.second) }}
                <span class="bar"></span>
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="form-group form-animate-text cinputGroup inputGroup2">
                <input type="hidden" id="email" />
            </div>

            <input type="submit" class="btn col-md-12" value="{{ 'resetting.reset.submit' | trans }}"/>
        </div>
    </div>
{{ form_end(form) }}
