{% trans_default_domain 'email' %}
{% block subject %}
    {%- autoescape false -%}
        {{ 'new_member.email.subject'|trans() }}
    {%- endautoescape -%}
{% endblock %}

{% block body_html %}
    {% include '@User/email/layout.html.twig' with {
        html_content: 'new_member.email.content'|trans({'%username%': user.username, '%url%': absolute_url(path('admin_user_list'))}),
        links: [
            {
                url: absolute_url(path('admin_user_list')),
                text: 'new_member.email.subject'|trans()
            }
        ]
    } %}
{% endblock %}