{% extends '@Admin/layout/layout_base.html.twig' %}

{% block pageTitle %}{{ 'admin.title.settings.edit' | trans({}, 'title') }}{% endblock %}

{% block breadcrump %}
    <li><a href="{{ path('craue_config_settings_modify') }}" disabled="disabled">{{ 'admin.breadcrumb.settings.edit' | trans({}, 'breadcrumb') }}</a></li>
{% endblock %}

{% block content %}
    {% block craue_config_content %}
    {% endblock %}
{% endblock content %}
