{% extends 'layout_base.html.twig' %}

{% block layout_content %}

    {% include '@Admin/includes/header.html.twig' %}

    <div class="container-fluid mimin-wrapper">

        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                        <h1 class="animated fadeInLeft">00:00</h1>
                        <p class="animated fadeInRight">1er janvier 9999</p>
                    </li>

                    {% include '@Admin/includes/menu.html.twig' %}
                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->


        <!-- start: content -->
        <div id="content">
            <div class="panel">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h3 class="animated fadeInLeft">{% block title %}{% endblock %}</h3>
                            <p class="animated fadeInDown"><span class="icons icon-directions"></span> {{ 'breadcrumb.title' | trans({}, 'breadcrumb') }}</p>

                            <ul class="breadcrump animated bounceInDown">
                                <li><a href="{{ path('app_home') }}">{{ 'breadcrumb.home' | trans({}, 'breadcrumb') }}</a></li>
                                {% block breadcrump %}{% endblock %}
                            </ul>
                        </div>
                        {{ render(controller('AdminBundle:Default:weather')) }}
                    </div>

                </div>
            </div>

            <div class="col-md-12" style="padding:20px;">

                {% block content %}

                {% endblock content %}

            </div>

            <footer class="text-right" style="color: grey;padding: 0 10px;">
                {#{{ render(controller("CMBPartievisiteurBundle:Page:stats")) }}#}
                <p>
                    <small>
                        &copy;{{ "now" | date('Y') }} <a href="{{ path('app_home') }}">{{ craue_setting('site_nickname') }}</a> - {{ 'footer.copyright' | trans({}, 'footer') }}
                        <a target="_blank" href="https://vsweb.be">{{ 'footer.creator' | trans({}, 'footer') }}</a>
                    </small>
                </p>
            </footer>
        </div>
        <!-- end: content -->


        <!-- start: right menu -->
        {% include '@Admin/includes/aside.html.twig' %}
        <!-- end: right menu -->

    </div>

    {% include '@Admin/includes/footer.html.twig' %}

    {% include '@Admin/includes/flashbag.html.twig' %}

    {% block javascripts %}{% endblock javascripts %}

{% endblock layout_content %}