{% extends '@Admin/layout/layout_base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="panel form-element-padding">
        <div class="panel-heading">
            {% block form_header %}{% endblock form_header %}
        </div>
        <div class="panel-body">
            {% block form_content %}{% endblock form_content %}
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group margin">
                        {% block form_actions %}{% endblock form_actions %}
                        <button type="submit" class="btn ripple-infinite btn-gradient btn-info">
                            <div><span><i class="fa fa-save"></i> {{ 'form.buttons.submit' | trans({}, 'form') }}</span></div>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="btn-group margin">
                        {% block form_actions_right %}{% endblock form_actions_right %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {{ form_end(form) }}
{% endblock %}