{% extends '@Admin/layout/layout_base.html.twig' %}

{% block content %}
<div class="panel form-element-padding">
    <div class="panel-heading">
        <h3>{% block table_title %}{% endblock table_title %}</h3>
    </div>
    <div class="panel-body">

        <p class="col-xs-12">{{ pagination.getTotalItemCount }} {{ block('table_title') }}</p>

        <div class="table-responsive col-xs-12">

            {% block filter_form %}{% endblock filter_form %}

            <table class="table table-striped table-bordered">
                {% block table_header %}{% endblock table_header %}

                {% block filter_row %}{% endblock filter_row %}

                {% block table_content %}{% endblock table_content %}
            </table>

        </div>

    </div>
    <div class="panel-footer">
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}