{{ form_start(form, {'attr': {'class': 'craue_config_settings_modify'}}) }}
<div class="panel form-element-padding">
	<div class="panel-heading">
		<h3>{{ 'form.setting.title' | trans({}, 'form') }}</h3>
	</div>
	<div class="panel-body">

		{{ form_errors(form) }}

		{% for section in sections | craue_sortSections %}
			{% for setting in form.settings if setting.vars.value.section == section %}

			<div class="col-md-6">
				<div class="form-group form-animate-text{% if form_errors(setting.value)|length > 0 %} form-animate-error{% endif %}">
					{{ form_widget(setting.value, {attr: {class: 'form-text'}}) }}
					<span class="bar"></span>
					{{ form_label(setting.value, 'form.setting.label.' ~ setting.value.vars.label) }}
					{{ form_errors(setting.value) }}
				</div>
			</div>

			{% endfor %}
		{% endfor %}

		{{ form_rest(form) }}

	</div>
	<footer class="panel-footer">
		<div class="btn-group margin">
			<a href="{{ path('app_home') }}" class="btn-danger btn-gradient btn"><i class="fa fa-close"></i> {{ 'form.buttons.cancel' | trans({}, 'form') }}</a>
			<button type="submit" class="btn ripple-infinite btn-gradient btn-info">
				<div><span><i class="fa fa-save"></i> {{ 'form.buttons.submit' | trans({}, 'form') }}</span></div>
			</button>
		</div>
	</footer>
</div>
{{ form_end(form) }}
