{% extends '@Admin/layout/layout_list.html.twig' %}

{% block pageTitle %}{{ 'admin.title.user.list' | trans({}, 'title') }}{% endblock %}

{% block breadcrump %}
    <li><a href="{{ path('admin_user_list') }}" disabled="disabled">{{ 'admin.breadcrumb.user.list' | trans({}, 'breadcrumb') }}</a></li>
{% endblock %}

{% block table_title %}{{ 'table.title.user' | trans({}, 'table') }}{% endblock %}

{% block table_header %}
    <tr>
        <th>{{ knp_pagination_sortable(pagination, '#', 'entity.id') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'table.head.user.username' | trans({}, 'table'), 'entity.username') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'table.head.user.email' | trans({}, 'table'), 'entity.email') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'table.head.user.last_login' | trans({}, 'table'), 'entity.lastLogin') }}</th>
        <th>{{ 'table.head.user.roles' | trans({}, 'table') }}</th>
        <th>{{ 'table.head.user.status' | trans({}, 'table') }}</th>
    </tr>
{% endblock %}

{% block filter_form %}
    <form action method="post" id="form_filter"><input type="submit" class="hidden"></form>
{% endblock %}

{% block filter_row %}
    <tr>
        <th></th>
        <th><div class="input-group">{{ form_widget(form.username) }}</div></th>
        <th></th>
        <th><div class="input-group">{{ form_widget(form.lastLogin) }}</div></th>
        <th><div class="input-group">{{ form_widget(form.roles) }}</div></th>
        <th><div class="input-group">{{ form_widget(form.status) }}</div></th>
    </tr>
{% endblock %}

{% block table_content %}
    {% for user in pagination %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username | capitalize }}</td>
            <td>{{ user.email }}</td>
            <td><em>{{ user.lastLogin is null ? '' : user.lastLogin | localizeddate }}</em></td>
            <td>{% include '@Admin/user/_partials/roles.html.twig' with {roles: user.roles} %}</td>
            <td style="position: relative">
                {% include '@Admin/user/_partials/status.html.twig' %}
                <div class="btn-group right-option-v1">
                    <i class="icon-options-vertical icons box-v7-menu" data-toggle="dropdown"></i>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" >
                        <li><a href="{{ path('fos_user_profile_edit', {'id': user.id}) }}"><i class="icons icon-pencil"></i> {{ 'table.user.actions.edit' | trans({}, 'table') }}</a></li>
                        <li><a href="{{ path('app_garage', {'id': user.id}) }}"><i class="icons icon-eye"></i> {{ 'table.user.actions.page' | trans({}, 'table') }}</a></li>
                        {% if is_granted(constant('AdminBundle\\Voter\\UserVoter::IMPERSONATE'), user) %}
                            <li><a href="{{ path('admin_user_impersonate', {'id': user.id}) }}"><i class="icons icon-control-rewind"></i> {{ 'table.user.actions.impersonate' | trans({}, 'table') }}</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        {% if is_granted(constant('AdminBundle\\Voter\\UserVoter::CHANGE_STATUS'), user) %}
                            <li><a href="{{ path('admin_user_status', {'id': user.id, 'status': user.enabled ? 0 : 1 }) }}"><i class="icons icon-lock"></i> {{ ('table.user.actions.' ~ (user.enabled ? 'lock' : 'unlock')) | trans({}, 'table') }}</a></li>
                        {% endif %}
                        {% if user.softDelete %}
                            <li><a href="{{ path('admin_user_restore', {'id': user.id}) }}"><i class="icons icon-emotsmile"></i> {{ 'table.user.actions.restore' | trans({}, 'table') }}</a></li>
                        {% elseif is_granted(constant('AdminBundle\\Voter\\UserVoter::DELETE'), user) %}
                            <li><a href="{{ path('admin_user_delete', {'id': user.id}) }}"><i class="icons icon-trash"></i> {{ 'table.user.actions.delete' | trans({}, 'table') }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}