<html>
<head>
    <style type="text/css">
        .links a {
            color: #000000;
            text-decoration: none;
        }

        .blocContent {
            color: #1e1e1e;
            line-height: 25px;
            font-size: 14px;
            font-family: sans-serif;
            padding: 0 20px;
        }

        .textDecorationNone {
            text-decoration: none;
        }

        .textLink {
            font-size: 14px;
            color: #ffffff;
            line-height: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .tdLink {
            font-family: Arial, sans-serif;
            font-size: 15px;
            text-align: center;
        }

        .tdDate {
            font-size: 12px;
            text-align: right;
            font-family: sans-serif;
        }

        .picture-user {
            max-width: 150px;
            border-radius: 100%;
            max-height: 150px;
        }

        .backcmystuff {
            background-color: #4196EC;
        }

        .lang-de {
            font-style: italic;
        }

        /* reset */
        body, table, td, a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        /*table{border-collapse:collapse !important;}*/
        body {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
            background-color: #f9fafa;
        }

        input {
            background-color: #FBFBFB !important;
            text-transform: uppercase !important;
            color: #0091b8 !important;
            border: 0 !important;
            font-weight: 700 !important;
            text-align: center !important;
        }

        .background-color {
            background-color: #f1f1f1 !important;
        }

        /* Outlook styles */
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        /* Gmail will not cut the email */
        #bodyTable {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        table[class="custom-3"] {
            width: 290px !important;
        }

        .btn {
            text-decoration: none;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .btn-purple {
            color: #fff;
            background-color: #58326e;
            border-color: #58326e;
        }
        .btn-purple:hover {
            color: #ffffff;
            background-color: #703688;
            border-color: #6a3381;
        }

        @media only screen and (max-width: 480px) {

            table[class="table-wrapper"] {
                width: 100% !important;
            }

            table[class="table-wrapper-inner"] {
                width: 95% !important;
            }

            table[class="footer-left"] {
                text-align: center !important;
            }

            table[class="footer-right"] {
                margin: auto !important;
                text-align: center !important;
                float: none !important;
            }

            table[class="custom-1"] {
                float: none;
                width: 100% !important;
                display: block !important;
                text-align: left !important;
            }

            table[class="custom-1"]:first-child {
                height: 75px !important;
            }

            table[class="custom-1"] .sub-custom-1 {
                display: block !important;
                text-align: center !important;
            }

            table[class="custom-2"] {
                width: 100% !important;
                display: block !important;
            }

            table[class="custom-3"] {
                width: 100% !important;
                display: block !important;
                text-align: left !important;
            }

            table[class="custom-4"] {
                width: 100% !important;
                display: block !important;
                text-align: left !important;
            }

            table[class="table-left"] {
                float: none !important;
                width: 100%;
            }

            table[class="table-right"] {
                float: none !important;
                width: 100%;
            }

            .padding-text {
                float: none !important;
                width: 95%;
            }

            .hidden-span {
                display: none !important;
                height: 0 !important;
                width: 0 !important;
            }

            table[class="hidden"], table[class="custom-width"], tr[class="hidden"] {
                display: none !important;
                height: 0 !important;
                width: 0 !important;
            }

            .link-apple-black a {
                color: #000000 !important;
                text-decoration: none;
            }

            .img-responsive {
                width: 100% !important;
            }

            .mobile-left {
                text-align: left !important;
            }
        }
        table[class="table-wrapper-inner"] {
            padding: 20px;
        }
    </style>
</head>
<body bgcolor="#f0f0f0">
<br/>
<table width="600" bgcolor="#ffffff" align="center" class="table-wrapper-inner">
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="right" class="tdDate">{{ 'now'|date('d/m/Y H:i') }}</td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center" class="blocContent">
            <div style="text-align: center; padding-top: 15px">
                <h1>{{ craue_setting('site_nickname') | upper }}</h1>
            </div>
            {% block content %}{% endblock content %}
            {% if html_content is defined %}
                {{ html_content }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td height="20"></td>
    </tr>
    {% if links is defined %}
        <tr>
            <td>
                {% for link in links %}
                    <a target="_blank" class="textDecorationNone" href="{{ link.url }}">
                        <table class="table-left" cellpadding="2" cellspacing="2" align="center" width="275">
                            <tr>
                                <td class="backEnovos">
                                    <table align="center" width="287">
                                        <tr>
                                            <td align="left" class="tdLink backcmystuff">
                                                <br>&nbsp;
                                                <span class="textLink">{{ link.text | trans({}, 'email') }}</span>
                                                <br>&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">&nbsp;</td>
                            </tr>
                        </table>
                    </a>
                {% endfor %}
            </td>
        </tr>
    {% endif %}
</table>
<div style="text-align:center;padding:10px;font-size:12px;">
    <a href="{{ craue_setting('site_url') }}" style="color:#673f8c;">{{ craue_setting('site_nickname') | upper }}</a> &copy; {{ 'now'|date('Y') }}
</div>
</body>
</html>