<script>
    $(document).ready(function() {
        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}

                {% if label == 'error' %}
                    {% set label = 'danger' %}
                {% elseif label == 'notice' %}
                    {% set label = 'success' %}
                {% endif %}

                bootoast({
                    message: '{{ message | trans({}, 'notification') }}',
                    type: '{{ label }}'
                });

            {% endfor %}
        {% endfor %}
    });
</script>