<div id="mimin-mobile" class="reverse">
    <div class="mimin-mobile-menu-list">
        <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft" style="overflow: hidden; cursor: grab; height: 100vh!important;" tabindex="5001">
            <ul class="nav nav-list">

                {% include '@Admin/includes/menu.html.twig' %}

            </ul>
        </div>
    </div>
</div>
<button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
    <span class="fa fa-bars"></span>
</button>

    {% javascripts
        'scripts/jquery.min.js'
        'scripts/jquery.ui.min.js'
        'scripts/bootstrap.min.js'
        'scripts/plugins/jquery-validate/dist/jquery.validate.min.js'
        'scripts/plugins/bootoast.js'
        'scripts/plugins/moment.min.js'
        'scripts/plugins/fullcalendar.min.js'
        'scripts/plugins/jquery.nicescroll.js'
        'scripts/plugins/select2.full.min.js'
        'scripts/plugins/fancybox/source/jquery.fancybox.pack.js'
        'scripts/plugins/jquery.ezdz.js'
        'scripts/plugins/blockui.js'
        'scripts/plugins/autosize-master/jquery.autosize.min.js'
        'scripts/plugins/bootstrap-material-datetimepicker.js'
        'scripts/admin/global.js'
        'scripts/admin/custom.js'
        'scripts/admin/ajax.js'
        'scripts/admin/validation.js'
    output='js/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@Admin/includes/javascript-dynamic.html.twig' %}

    <script type='application/ld+json'>
        {
            "@context":"https:\/\/schema.org",
            "@type":"WebSite",
            "@id":"#website",

            "url":"https:\/\/{{ craue_setting('site_nickname') | lower }}.com\/",
            "name":"See my bike"
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46258175-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-46258175-5');
    </script>


    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.vsweb.be/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '14']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->

<div class="microdatas hidden" itemscope itemtype="https://schema.org/Corporation">
    <h1 itemprop="name">See my bike</h1>
    <p itemprop="description">See my bike,
        découvre ce que vaut ta machine,
        qui a vu le jour en <time itemprop="foundingDate" datetime="2016-01-01">2016</time>
        par <span itemprop="founders">Jul6art</span>
        et qui se trouve à Liège, en Belgique.</p>
    <span itemprop="location" itemscope itemtype="https://schema.org/Place">
		<meta itemprop="name" content="See my bike par VsWeb">
		<meta itemprop="address" content="1 rue des Guillemins, 4000 Liège Belgique">
	</span>
    <p itemprop="contactPoint" itemscope itemtype="https://schema.org/ContactPoint">
        <meta itemprop="contactType" content="customer support">
        <span itemprop="telephone">+32497189998</span>
    </p>
    <p><a href="https://{{ craue_setting('site_nickname') | lower }}.com" itemprop="url">https://{{ craue_setting('site_nickname') | lower }}.com</a></p>
    <ul itemprop="employees" itemscope itemtype="https://schema.org/Person">
        <li><p itemprop="name">VsWeb</p><a href="https://vsweb.be" itemprop="url">https://vsweb.be</a></li>
    </ul>
    <ul itemprop="employees" itemscope itemtype="https://schema.org/Person">
        <li><p itemprop="name">Jul6art</p><a href="https://kratz.deepweb.be" itemprop="url">https://kratz.deepweb.be</a></li>
    </ul>
</div>

{% if app.user and is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="fixed-impersonate">
        <div class="impersonate">
            <div>
                <i class="fa fa-info-circle fa-2x"></i>
            </div>
            <div>
                <p>
                    {{ 'impersonate.text' | trans({
                        '%username%': app.user.username|title,
                        '%email%': app.user.email,
                        '%url%': path('admin_user_list', {'_switch_user': '_exit'})
                    }, 'impersonate') | raw }}
                </p>
            </div>
        </div>
    </div>
{% endif %}

