    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/font-awesome.min.css') }}"/>
    {% stylesheets
    'stylesheets/bootstrap.min.css'
    'stylesheets/plugins/bootoast.css'
    'stylesheets/plugins/simple-line-icons.css'
    'stylesheets/plugins/animate.min.css'
    'stylesheets/plugins/fullcalendar.min.css'
    'stylesheets/plugins/select2.min.css'
    'stylesheets/plugins/bootstrap-material-datetimepicker.css'
    'scripts/plugins/fancybox/source/jquery.fancybox.css'
    'stylesheets/plugins/jquery.ezdz.css'
    'stylesheets/plugins/flags.min.css'
    'stylesheets/admin/style.css'
    'stylesheets/admin/custom.css'
    output='css/app.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}
    {% endblock stylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a href="{{ path('app_home') }}" class="navbar-brand">
                    <b>{{ craue_setting('site_nickname') | upper }}</b>
                </a>

                <ul class="nav navbar-nav search-nav">
                    <li>
                        <div class="search">
                            <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                            <form class="form-group form-animate-text" action="{{ path('api_search') }}" method="post">
                                <input type="text" class="form-text" name="recherche" required value="{% if app.request.query.has("searchString") %}{{ app.request.query.get("searchString") }}{% endif %}">
                                <span class="bar"></span>
                                <label class="label-search">{{ 'app.search.placeholder' | trans({}, 'app') | raw }} </label>
                            </form>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name">
                        <span>
                            {% if app.user %}
                                {{ app.user.username }}
                            {% endif %}
                        </span>
                    </li>
                    <li class="dropdown avatar-dropdown">
                        <img src="{{ asset('img/avatar.jpg') }}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                        <ul class="dropdown-menu user-dropdown">
                            <li class="more">
                                <ul>
                                    <li><a href="{{ path('app_home') }}" data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ 'navbar.home' | trans({}, 'navbar') }}">
                                            <span class="icons icon-home"></span>
                                        </a>
                                    </li>
                                    {% if app.user %}
                                        <li>
                                            <a href="{{ path('fos_user_change_password') }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ 'navbar.change_password' | trans({}, 'navbar') }}">
                                                <span class="icons icon-key"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'navbar.logout' | trans({}, 'navbar') }}">
                                                <span class="icons icon-power"></span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('fos_user_registration_register') }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ 'navbar.register' | trans({}, 'navbar') }}">
                                                <span class="icons icon-key"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_login') }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ 'navbar.login' | trans({}, 'navbar') }}">
                                                <span class="icons icon-power"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% if app.user %}
                        <li><a href="#" class="opener-right-menu"><span class="fa fa-coffee"></span>{{ notification(app.user, 'userNotifications') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->