{% if app.request.locale != 'en' %}
    <script src="{{ asset('scripts/plugins/jquery-validate/dist/localization/messages_'~app.request.locale~'.js') }}" type="text/javascript"></script>
{% endif %}
<script>
    $.extend($.validator.messages, {
        captcha: "{{ 'form.user.captcha' | trans({}, 'javascript') }}",
        repeated_password: "{{ 'form.user.repeated_password' | trans({}, 'javascript') }}",
        user_email_exists: "{{ 'form.user.user_email_exists' | trans({}, 'javascript') }}"
    });

    $(document).ready(function () {
        initPickers();
        initSelect2();
        dropFile();
    });

    function initPickers() {
        $('input.date').bootstrapMaterialDatePicker({
            weekStart : 1,
            lang: '{{ app.request.locale }}',
            time: false,
            clearButton: true,
            cancelText: "{{ 'picker.cancel_text' | trans({}, 'javascript') }}",
            clearText: "{{ 'picker.clear_text' | trans({}, 'javascript') }}",
            okText: "{{ 'picker.ok_text' | trans({}, 'javascript') }}",
        });

        $('input.time').bootstrapMaterialDatePicker({
            date: false,
            lang: '{{ app.request.locale }}',
            format:'HH:mm',
            animation:true,
            clearButton: true,
            cancelText: "{{ 'picker.cancel_text' | trans({}, 'javascript') }}",
            clearText: "{{ 'picker.clear_text' | trans({}, 'javascript') }}",
            okText: "{{ 'picker.ok_text' | trans({}, 'javascript') }}",
        });

        $('.datetime').bootstrapMaterialDatePicker({
            weekStart : 1,
            lang: '{{ app.request.locale }}',
            format : 'YYYY-MM-DD HH:mm',
            animation:true,
            clearButton: true,
            cancelText: "{{ 'picker.cancel_text' | trans({}, 'javascript') }}",
            clearText: "{{ 'picker.clear_text' | trans({}, 'javascript') }}",
            okText: "{{ 'picker.ok_text' | trans({}, 'javascript') }}",
        });
    }

    function initSelect2() {
        $('.select2').select2({
            placeholder: "{{ 'select2.placeholder' | trans({}, 'javascript') }}",
            allowClear: true,
            minimumResultsForSearch: Infinity
        });

        $('.select2-search').select2({
            placeholder: "{{ 'select2.placeholder' | trans({}, 'javascript') }}",
            allowClear: true
        });

        $('.select2-ajax').each(function () {
            $(this).select2({
                ajax: {
                    url: $(this).data('url'),
                    dataType: 'json'
                },
                delay: 250,
                minimumInputLength: 1,
                placeholder: "{{ 'select2.placeholder' | trans({}, 'javascript') }}",
                allowClear: true,
                language: {
                    searching: function(params) {
                        query = params;
                    }
                }
            });
        });
    }

    function dropFile () {
        $('input[type="file"]').ezdz({
            text: "{{ 'dropfile.text' | trans({}, 'javascript') }}",
            validators: {
                maxSize: 24000000,
                maxNumber: 15
            },
            reject: function(file, errors) {
                if (errors.mimeType) {
                    alert(file.name + " {{ 'dropfile.error.filetype' | trans({}, 'javascript') }}");
                    return;
                }

                if (errors.maxSize) {
                    alert(file.name + " {{ 'dropfile.error.size' | trans({}, 'javascript') }}");
                    return;
                }

                if (errors.maxNumber) {
                    alert("{{ 'dropfile.error.count' | trans({}, 'javascript') }}");
                    return;
                }
            }
        });
    }
</script>