{% set current_route = app.request.attributes.get('_route') %}

<li class="ripple controle">
    <a class="tree-toggle nav-header">
        <i class="icon icon-globe" style="width: 20px!important;"></i> {{ 'navbar.languages' | trans({}, 'navbar') }}
        <span class="fa-angle-right fa right-arrow text-right"></span>
    </a>
    <ul class="nav nav-list tree">
        {% for locale in available_locale|split('|') %}
            <li{{ app.request.locale == locale ? ' class="active"' : '' }}>
                <a href="{{ path('app_home', {'_locale': locale}) }}">
                    <span class="flag flag-{{ locale == 'en' ? 'gb' : locale }}"></span>
                    {{ locale | upper }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>

<li class="ripple controle {{ current_route | active(['app_home']) }}">
    <a id="bord" class="nav-header" href="{{ path('app_home') }}">
        <i class="icons icon-home"></i> {{ 'navbar.home' | trans({}, 'navbar') }}
    </a>
</li>

{% if app.user and is_granted('ROLE_ADMIN') %}
    <li class="ripple controle {{ current_route | active(['craue_config_settings_modify']) }}">
        <a id="settings" class="nav-header" href="{{ path('craue_config_settings_modify') }}">
            <i class="icons icon-settings"></i> {{ 'navbar.settings' | trans({}, 'navbar') }}
        </a>
    </li>
    <li class="ripple controle {{ current_route | active(['admin_maintenance']) }}">
        <a id="maintenance" class="nav-header" href="{{ path('admin_maintenance') }}">
            <i class="icons icon-compass"></i> {{ 'navbar.maintenance' | trans({}, 'navbar') }}
        </a>
    </li>
    <li class="ripple controle {{ current_route | active(['admin_analytics']) }}">
        <a id="analytics" class="nav-header" href="{{ path('admin_analytics') }}">
            <i class="icons icon-graph"></i> {{ 'navbar.analytics' | trans({}, 'navbar') }}
        </a>
    </li>
    <li class="ripple controle {{ current_route | active(['admin_user_list']) }}">
        <a id="members" class="nav-header" href="{{ path('admin_user_list') }}">
            <i class="icons icon-people"></i> {{ 'navbar.users' | trans({}, 'navbar') }}
            {{ notification(app.user, 'members') }}
        </a>
    </li>
    {#<li class="ripple controle {{ current_route | active(['ZZZZZZZZZZZZZZZZZ']) }}">#}
        {#<a id="abuses" class="nav-header" href="{{ path('liste_abus') }}">#}
            {#<i class="icons icon-target"></i> {{ 'navbar.abuses' | trans({}, 'navbar') }}#}
            {#{{ notification(app.user, 'abuses') }}#}
        {#</a>#}
    {#</li>#}
{% endif %}

{#<li class="ripple controle {{ current_route | active(['ZZZZZZZZZZZZZZZZZ']) }}">#}
    {#<a id="bord" class="nav-header" href="{{ path('page_roulette') }}">#}
        {#<i class="icons icon-reload"></i> {{ 'navbar.roulette' | trans({}, 'navbar') }}#}
    {#</a>#}
{#</li>#}

{#<li class="ripple controle {{ current_route | active(['ZZZZZZZZZZZZZZZZZ']) }}">#}
    {#<a class="tree-toggle nav-header">#}
        {#<i class="fa-motorcycle fa" style="width: 20px!important;"></i> {{ 'navbar.stuffs' | trans({}, 'navbar') }}#}
        {#<span class="fa-angle-right fa right-arrow text-right"></span>#}
    {#</a>#}
    {#<ul class="nav nav-list tree">#}
        {#<li><a href="{{ path('page_motos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.all_stuffs' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#<li><a href="{{ path('page_dernieres_motos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.last_stuffs' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#<li><a href="{{ path('page_meilleures_motos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.best_stuffs' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#{% if app.user and is_granted('ROLE_USER') %} VOTER !!!!#}
            {#<li><a id="cars" href="{{ path('liste_motos') }}">#}
                    {#<i class="icons icon-list"></i> {{ 'navbar.my_stuffs' | trans({}, 'navbar') }}#}
                {#</a></li>#}
            {#<li><a href="{{ path('ajout_moto') }}">#}
                    {#<i class="icons icon-plus"></i> {{ 'navbar.add' | trans({}, 'navbar') }}#}
                {#</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</li>#}

{#<li class="ripple controle {{ current_route | active(['ZZZZZZZZZZZZZZZZZ']) }}">#}
    {#<a class="tree-toggle nav-header">#}
        {#<i class="icons icon-picture"></i> {{ 'navbar.pictures' | trans({}, 'navbar') }}#}
        {#<span class="fa-angle-right fa right-arrow text-right"></span>#}
    {#</a>#}
    {#<ul class="nav nav-list tree">#}
        {#<li><a href="{{ path('page_photos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.all_pictures' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#<li><a href="{{ path('page_dernieres_photos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.last_pictures' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#<li><a href="{{ path('page_meilleures_photos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.best_pictures' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#{% if app.user and is_granted('ROLE_USER') VOTER !!!! %}#}
            {#<li><a id="slide" href="{{ path('liste_photos') }}">#}
                    {#<i class="icons icon-list"></i> {{ 'navbar.my_pictures' | trans({}, 'navbar') }}#}
                {#</a></li>#}
            {#<li><a href="{{ path('ajout_photo') }}">#}
                    {#<i class="icons icon-plus"></i> {{ 'navbar.add' | trans({}, 'navbar') }}#}
                {#</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</li>#}

{#<li class="ripple controle {{ current_route | active(['ZZZZZZZZZZZZZZZZZ']) }}">#}
    {#<a class="tree-toggle nav-header">#}
        {#<i class="icons icon-camrecorder"></i> Vidéos#}
        {#<span class="fa-angle-right fa right-arrow text-right"></span>#}
    {#</a>#}
    {#<ul class="nav nav-list tree">#}
        {#<li><a href="{{ path('page_videos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.all_videos' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#<li><a href="{{ path('page_dernieres_videos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.last_videos' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#<li><a href="{{ path('page_meilleures_videos') }}">#}
                {#<i class="icons icon-list"></i> {{ 'navbar.best_videos' | trans({}, 'navbar') }}#}
            {#</a></li>#}
        {#{% if app.user and is_granted('ROLE_USER') VOTER !!!! %}#}
            {#<li><a id="video" href="{{ path('liste_videos') }}">#}
                    {#<i class="icons icon-list"></i> {{ 'navbar.my_videos' | trans({}, 'navbar') }}#}
                {#</a></li>#}
            {#<li><a href="{{ path('ajout_video') }}">#}
                    {#<i class="icons icon-plus"></i> {{ 'navbar.add' | trans({}, 'navbar') }}#}
                {#</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</li>#}

{#<li class="ripple controle {{ current_route | active(['ZZZZZZZZZZZZZZZZZ']) }}">#}
    {#<a id="bord" class="nav-header" href="{{ path('page_contact') }}">#}
        {#<i class="icons icon-envelope-open"></i> {{ 'navbar.contact' | trans({}, 'navbar') }}#}
    {#</a>#}
{#</li>#}