{% if pageCount > 1 %}
    <div class="btn-group margin" role="group" aria-label="pagination">
        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="btn"><span class="icons icon-arrow-left-circle"></span></a>
        {% endif %}

        {% if startPage > 1 %}
            <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}" class="btn">1</a>
            {% if startPage == 3 %}
                <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}" class="btn">2</a>
            {% elseif startPage != 2 %}
                <li class="page-item disabled">
                    <span class="btn">&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="btn">{{ page }}</a>
            {% else %}
                <span class="btn active">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="page-item disabled">
                        <span class="btn">&hellip;</span>
                    </li>
                {% else %}
                    <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}" class="btn">{{ pageCount -1 }}</a>
                {% endif %}
            {% endif %}
            <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" class="btn">{{ pageCount }}</a>
        {% endif %}

        {% if next is defined %}
            <a rel="next" class="btn" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><span class="icons icon-arrow-right-circle"></span></a>
        {% endif %}
    </div>
{% endif %}
