<div class="col-md-6 visible-md visible-lg col-sm-12">

    <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
        <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> {{ position | title }}</h3>
        <h1 style="margin-top: -10px;color: #ddd;">{{ temperature }}<sup>o</sup></h1>
    </div>
    <div class="col-md-6 col-sm-6">

        <div class="wheather">
            {% if condition == "snow" %}
                <div class="snowy rainy animated pulse infinite">
                    <div class="shadow">

                    </div>
                </div>
                <div class="sub-wheather snowy-sub-wheather">
                    <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                    </div>
                </div>
            {% elseif condition == "sun" %}
                <div class="suny">
                    <div class="sun animated pulse infinite">
                    </div>
                    <div class="mount"></div>
                    <div class="mount mount1"></div>
                    <div class="mount mount2"></div>
                </div>
            {% elseif condition == "stormyRainy" %}
                <div class="stormy rainy animated pulse infinite">
                    <div class="shadow">

                    </div>
                </div>
                <div class="sub-wheather">
                    <div class="thunder">

                    </div>
                    <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                    </div>
                </div>
            {% elseif condition == "rainy" %}
                <div class="stormy rainy animated pulse infinite">
                    <div class="shadow">

                    </div>
                </div>
                <div class="sub-wheather">
                    <div class="rain">
                        <div class="droplet droplet1"></div>
                        <div class="droplet droplet2"></div>
                        <div class="droplet droplet3"></div>
                        <div class="droplet droplet4"></div>
                        <div class="droplet droplet5"></div>
                        <div class="droplet droplet6"></div>
                    </div>
                </div>
            {% elseif condition == "tornadoCloudy" %}
                <div class="tornado">
                    <div class="cloudy animated pulse infinite">

                    </div>
                    <div class="wind wind1"></div>
                    <div class="wind wind2"></div>
                    <div class="wind wind3"></div>
                    <div class="wind wind4"></div>
                </div>
            {% elseif condition == "tornadoThunder" %}
                <div class="tornado tornado-thunder">
                    <div class="cloudy animated flash infinite">
                        <div class="sub-wheather">
                            <div class="thunder">

                            </div>
                        </div>
                    </div>
                    <div class="wind wind1"></div>
                    <div class="wind wind2"></div>
                    <div class="wind wind3"></div>
                    <div class="wind wind4"></div>
                </div>
            {% elseif condition == "tornadoStormyRainy" %}
                <div class="wheather">
                    <div class="stormy rainy animated pulse infinite">
                        <div class="shadow">

                        </div>
                    </div>
                    <div class="sub-wheather">
                        <div class="thunder">

                        </div>
                        <div class="rain">
                            <div class="droplet droplet1"></div>
                            <div class="droplet droplet2"></div>
                            <div class="droplet droplet3"></div>
                            <div class="droplet droplet4"></div>
                            <div class="droplet droplet5"></div>
                            <div class="droplet droplet6"></div>
                        </div>
                        <div class="tornado">
                            <div class="wind wind1"></div>
                            <div class="wind wind2"></div>
                            <div class="wind wind3"></div>
                            <div class="wind wind4"></div>
                        </div>
                    </div>
                </div>
            {% elseif condition == "cloudy" %}
                <div class="mostly-suny suny">
                    <div class="sun animated pulse infinite">
                    </div>
                    <div class="cloudy animated pulse infinite">
                        <div class="shadow">

                        </div>
                    </div>
                </div>

                <div class="hazy cloudy animated pulse infinite">
                    <div class="shadow">

                    </div>
                </div>
            {% else %}
                <div class="cloudy animated pulse infinite">
                    <div class="shadow">

                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</div>